header {
    min-height: 100vh;
    margin-bottom: 80px;
}

.header__subtitle {
    position: absolute;
    margin: 0;
    bottom: 16px;
}

.header__button {
    --bg: var(--color-fg);
    --fg: var(--color-bg);
}

.header__button._hover-wait {
    --fg: var(--color-fg);
}

.rellax-wrapper {
    height: 120vh;
    padding: 0 12px;
    margin-bottom: 240px;
}

.rellax-wrapper.mini {
    height: 80vh;
}

.rellax-wrapper.mini .rellax {
    top: -100%;
}

.clip-mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.rellax {
    position: absolute;
    inset: 0;
    height: 120%;
}

.rellax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-grid {
    justify-content: space-between;
}

.info__title {
    font-size: var(--fs-h2);
    font-weight: 400;
    margin-bottom: 32px;
}

.info__description {
    flex: 0 0 39vw !important;
    padding: 20px 0;
}

.info__img {
    max-width: 40vw;
    object-fit: cover;
    border-radius: 12px;
}

.info__description>a.section-subtitle {
    display: block;
    margin-bottom: 86px;
}

.info__description .section-subtitle {
    margin-top: 36px;
    margin-bottom: 20px;
}

.scroll {
    transform: scale(0);
    transition: 300ms ease;
}

.scroll.active {
    transform: scale(1);
}

.underline-anim {
    --bottom: -2px;
    --height: 1.4px;
}


section {
    margin-bottom: 180px !important;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: 400;
}

.info .section-text {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .header {
        padding-top: 64px;
    }

    .header__subtitle {
        bottom: 72px;
    }

    .info__img {
        min-width: 92%;
    }

    .residents__title {
        max-width: 90%;
    }
    section {
        margin-bottom: 30px !important;
    }
    .get-started {
        margin-top: 70px;
    }

    h2 {
        max-width: 90%;
    }

    section {
        margin-bottom: 60px;
    }
}


.team__title {
    margin-left: 60px;
    margin-bottom: 48px;
}

.team__categories {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
    margin-left: 60px;
    margin-bottom: 40px;
}

.team__category {
    padding: 12px 24px;
    min-width: max-content;
    cursor: pointer;
    font-size: var(--fs-body);
    border: 0;
    background: #f1f1f1;
    border-radius: 100vw;
    transition: 300ms ease;
}

.team__category_active {
    background: var(--color-accent);
}

.persons-slider {
    height: 96vh !important;
}

.person {
    width: 32% !important;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: 300ms !important;
}

.person._hidden {
    opacity: 0;
}

.person__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

.person__info {
    width: 100%;
    padding: 8px 1px;
}

.person__name {
    font-size: var(--fs-body);
    font-weight: 700;
    margin-bottom: 4px;
}

.person__post {
    font-size: var(--fs-body);
    color: var(--color-fg-mini);
}


.partners {
    padding: 0 60px;
}

.partners__title {
    font-weight: 400;
    margin-bottom: 32px;
}

.partners__wrapper {
    border-radius: 12px;
    border: 1px solid #e1e1e1;
    display: flex;
    height: 80vh;
    overflow: hidden;
    flex-direction: row;
}

.partners__info {
    padding: 0 60px;
    padding-bottom: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partners__description {
    transition: 300ms ease;
    clip-path: inset(0 0 0 0);
}

.partners__description.hidden {
    clip-path: inset(0 0 100% 0);
}

.partners__categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 44px 0;
}

.partners__category {
    padding: 12px 24px;
    cursor: pointer;
    font-size: var(--fs-btn);
    border: 0;
    background: #f1f1f1;
    border-radius: 100vw;
    transition: 300ms ease;
    min-width: max-content;
}

.partners__category.active {
    background: var(--color-accent);
}

.partners__grid {
    border-left: 1px solid #e1e1e1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 60%;
    height: 80vh;
    min-height: 0;
}

.partner {
    padding: 40px;
    max-height: 100%;
    border: 1px solid #e1e1e1;
}

.partner img.active {
    opacity: 1;
}

.partner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 300ms;
    opacity: 0.4;
}


@media (max-width: 768px) {
    section {
        margin-bottom: 100px;
        padding: 0;
    }

    .team__categories,
    .team__title {
        margin-left: 20px;
    }

    .section-text {
        max-width: 100% !important;
    }

    .person {
        width: 80% !important;
    }

    .person__img {
        height: 52%;
    }

    .partners {
        padding: 0 20px;
    }

    .partners__categories {
        overflow: auto;
        justify-content: start;
    }

    .partners__wrapper {
        border: 0;
        flex-direction: column;
    }

    .partners__info {
        width: 100%;
        padding: 0 20px;
        padding-bottom: 40px;
    }

    .partners__grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

    .partner {
        min-width: 80vw;
        padding: 20px;
    }

    .partner img {}
}